<ul class="sidebar-nav" id="sidebar-nav" style="font-family: Poppins">
    <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'forecast_app:upload'  %}">
            <i class="fa fa-file-upload"></i>
            <span>Data upload hub</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'forecast_app:dataview'  %}">
            <i class="fa fa-bar-chart"></i>
            <span>Data Hub</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed " href="{% url 'forecast_app:manager_view_page'  %}">
            <i class="fa fa-chart-line"></i>
            <span>Executive View</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed " href="http://10.111.36.98/reports/powerbi/COMMERCIAL/Centene/Claims%20Capacity%20Planning%20Dashboard" target="_blank">
            <i class="fas fa-tachometer-alt"></i>
            <span>Power BI Dashboard</span>
        </a>
    </li>
 </ul>