{% extends 'index.html' %}

{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<input type="hidden" id="hdntimezone" name="hdntimezone" value="Central Standard Time" />
<input type="hidden" id="hdntzutcoffset" name="hdntzutcoffset" value="-06:00:00" />
<input type="hidden" id="hdntzisdaylightsaving" name="hdntzisdaylightsaving" value="True" />

<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between" style="padding-left:0px">
        <i class="bi bi-list toggle-sidebar-btn" title="Show/Hide Menu" ></i>
        <a class="logo d-flex align-items-center" style="width:150px;padding-left:20px;" href="/Home/Index1?projectid=0">

            <img src="{% static 'img/epicenter_zero.png' %}" alt="" style="height:400px;">

        </a>
    </div><!-- End Logo -->

    <div class="search-bar" style="width: 65%">
        <div class="row" style="width:100%;">
            

            <img src="{% static 'img/DA.gif' %}" style="height:40px;width:330px;" />

        </div>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    
                    <img src="{% static 'img/UserImage.png' %}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user_name }}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'forecast_app:logout' %}">

                            <i class="bi bi-box-arrow-right"></i>
                            Log Out
                        </a>

                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">   
<div class="ascroll" style="height:70%;">
    <ul class="sidebar-nav" id="sidebar-nav" style="height:70%;">
                <ul class="sidebar-nav" id="sidebar-nav" style="font-family: Poppins">
                <li class="nav-item">
                    <a class="nav-link collapsed " href="{% url 'forecast_app:home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed " href="{% url 'forecast_app:upload' %}">
                        <i class="fa fa-file-upload"></i>
                        <span>Case Upload</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed " href="{% url 'forecast_app:dataview'  %}">
                        <i class="fa fa-bar-chart"></i>
                        <span>Case history</span>
                    </a>
                </li>
                </ul>
            </ul>
        </li>
    </ul>
</div>
    <div id="sidebar-footer" style="margin-top: auto; padding: 10px; text-align: center;bottom:0;position:absolute">
       
        <img src= "{% static 'img/footerimg.png' %}" alt="Footer Image" style="width: 100%; max-height: 130px; object-fit: cover; border-radius: 5px;">
    </div>
</aside><!-- End Sidebar-->
{% endblock %}

{% block content2 %}
<form method="GET" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="q" value="{{ query }}">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
            <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                {% for field in item %}
                    <td>{{ field }}</td>
                {% endfor %}
                <!-- <td>
                    {% for action in actions %}
                        <a href="{% url action.url item.0 %}" class="btn btn-sm {{ action.class }}">
                            <i class="{{ action.icon }}"></i> {{ action.label }}
                        </a>
                    {% endfor %}
                </td> -->
            </tr>
        {% empty %}
            <tr>
                <td colspan="{{ headers|length }} + 1" class="text-center">No items found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/select2-4.0.6-rc.0.min.css' %}">

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/select2-4.0.6-rc.0.min.js' %}"></script>
{% endblock %}
