body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #335589, #4a78be);


    }

    .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px; 
    border: 2px solid #ccc; 
    border-radius: 12px;
    box-shadow: 20px 20px 40px rgba(0,0,0,0.1); 
    COLOR : #FFF;
    }
    .left-column {
    flex: 6;
    position: relative; 
    overflow: hidden;
    }

    .left-column img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center; 
    position:relative;
    top: 2px;
    left: 0;
    border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px; 
    }
    .right-column {
    flex: 4;
    padding: 20px;
    background-color: #ffffff;
    border-top-RIGHT-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }


   .myh5 h5{
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
   }

    .right-column h2 {
    text-align: center;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    }

    .right-column img.logo {

    margin: 0px 0px;
    width: 70%; 
    height: auto; 
    border-radius: 50%; 
    }

    .Signin-description {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #555;
    margin: 15px;
    }

    .input-group {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #e0e0e0;

    }

    .input-group input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    }

    .input-group input::placeholder {
    text-align: center;
    color: #9b9b9b;
    font-size: 10px;
    font-weight: 400;
    }


    .input-group i {
    position: absolute;
    LEFT: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #c5c5c5;
    align-items: center;
    font-size: 12px;
    }

    button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 30%;
    padding: 10px;
    font-size: 10px;
    background-color: #0072BC;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    }

    button:hover {
    background-color: #004C7D;
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.1); 
    }

    .connect-icons {
    text-align: center;
    margin-top: 30px;
    }

    .connect-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s;
    }


    .connect-icons a:hover {
    transform: scale(1.3); 
    }
    .connect-icons img {
    width: 20px; 
    height: auto; 
    }

    .Footer-description {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 10px;
    color: #555;
    margin-top: 1px;
    }



    @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    }


    .right-column h2 {
    animation: fadeIn 1s ease forwards;
    }


    .right-column h2 {
    animation-delay: 0s; 
    }

    .right-column img.logo {
    animation: fadeIn 2s ease forwards;
    }

    .right-column img.logo {
    animation-delay: 0s;
    }